accelerate==1.1.1
monai==1.2.0
opencv-python==4.8.1.78
timm==0.9.7
objprint==0.2.3
einops
pytz
tensorboard
wandb
ml_collections
batchgenerators
easydict
mmengine
albumentations
packaging
numpy==1.26.3
transformers==4.48.1


